@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  background-color: #ffffff;
  margin: 0px;
  width: 100%;
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
#h1-login {
  font-family: "Open Sans", sans-serif;
  color: #000;
}
#topo {
  width: 100%;
  height: 40px;
  background-color: #b02b0e;
}
header {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  background-color: #f22b00;
  justify-content: space-around;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
}
.login-user-input {
  width: 300px;
  height: 48px;
  margin-bottom: 10px;
}
.login-password-input {
  width: 300px;
  height: 48px;
  margin-bottom: 10px;
}
.login-btn {
  border-radius: 5px;
  width: 150px;
  color: rgb(255, 255, 255);
  margin: auto;
  background-color: green;
  padding: 7px 40px;
  width: 300px;
  height: 48px;
  margin-bottom: 10px;
}
.create-account-btn {
  border-radius: 5px;
  width: 150px;
  color: rgb(0, 128, 0);
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 7px 40px;
  width: 300px;
  height: 48px;
  margin-bottom: 10px;
}
.login-btn:hover {
  background-color: rgb(255, 255, 255);
  color: green;
}
.create-account-btn:hover {
  background-color: green;
  color: rgb(255, 255, 255);
}
#menu-content {
  background-color: #f7f4f3;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Open Sans";
}

#home {
  text-decoration: none;
  color: black;
}
#divBusca {
  padding: 0px;
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
  height: 35px;
  width: 50%;
}

#txtBusca {
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 78%;
}

#btnBusca {
  border: none;
  float: right;
  height: 35px;
  border-radius: 0 7px 7px 0;
  width: 20%;
  font-weight: bold;
  background: black;
  color: white;
}

#divBusca img {
  float: left;
}
#login-icon {
  height: 30px;
  width: 30px;
}
.product {
  align-items: center;
  height: 150px;
  justify-content: space-around;
  display: flex;
  width: 60%;
  color: black;
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(188, 188, 188);
}

.photo {
  width: 150px;
  border-radius: 10px;
  height: 150px;
}
.payment {
  border-radius: 5px;
  width: 150px;
  color: rgb(255, 255, 255);
  margin: auto;
  background-color: green;
  padding: 7px 40px;
  display: flex;
}
.payment:hover {
  background-color: rgb(255, 255, 255);
  color: green;
}
.button2 {
  margin-top: 6px;
}
#produto-nome {
  color: #000000;
  font-size: 19px;
}
#produto-preco {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 19px;
}
@media (min-width: 768px) {
  .fi {
    max-width: 720;
  }
}

.f1 {
  display: flex;
  height: 200px;
  background-color: #b02b0e;
  align-items: center;
  justify-content: center;
}

.list-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.txt-center {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center !important;
  margin: auto;
}
.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
